<div class="relative min-h-full h-full">
    <a [routerLink]="postLink" class="h-full min-h-full full-card">
        <img class="post-image min-h-full" src="{{ imageUrl }}" />
        <div class="absolute bottom-0 left-0 text-white p-4">
            <div class="flex flex-row text-sm">
                <div class="post-category">
                    {{category}}
                </div>
                <div class="post-date ">{{date}}</div>
            </div>
            <h3 class="text-2xl font-medium mt-1">
                {{ title }}
            </h3>
        </div>
    </a>
</div>