<div class="flex flex-row gap-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" viewBox="0 0 20 20" fill="grey">
        <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
            clip-rule="evenodd" />
    </svg>
    <div class="flex flex-col w-full">
        <div class="text-2xl font-bold">
            {{username}}
        </div>
        <div class="text-xs mt-3 text-gray-500 font-thin">
            {{date}}
        </div>
        <p class="font-light mt-2">
            {{comment}}
        </p>

        <div class="my-4 ">
            <span *ngIf="!isLeavingReply" class="text-sm font-bold hover:bg-gray-300 px-2 py-1"
                (click)="onLeaveReplyClick();">
                Leave a reply
            </span>
            <app-add-comment *ngIf="isLeavingReply" [onCommentCreated]="onCommentCreated"></app-add-comment>
        </div>
        <app-post-comment *ngFor="let subComment of subComments" [comment]="subComment.comment"
            [date]="subComment.creationDate" [username]="subComment.username"></app-post-comment>
    </div>
</div>