<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col w-full">
        <label class="font-thin" for="email">Email *</label>
        <input class="border-2" id="email" type="email" formControlName="email" required />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
            <div *ngIf="email?.errors?.['required']">
                This is required.
            </div>
            <div *ngIf="email?.errors?.['minlength'] || email?.errors?.['email']">
                Email is invalid
            </div>
        </div>
    </div>
    <div class="flex flex-col mt-2">
        <textarea placeholder="message" class="border-2 py-1 px-4" id="message" formControlName="message" type="text"
            required>
        </textarea>
        <div *ngIf="message?.invalid && (message?.dirty || message?.touched)" class="error-message">
            <div *ngIf="message?.errors?.['required']">
                This is required.
            </div>
            <div *ngIf="message?.errors?.['minlength']">
                Min length is 10
            </div>
        </div>
        <input type="submit" value="Send Message"
            class="hover:bg-gray-700 bg-black text-white font-bold py-1 px-10 mt-4 mx-auto" />
    </div>
</form>