<a [routerLink]="postLink">
    <div class="relative min-h-min flex flex-col">
        <img class="post-image h-40" src="{{ imageUrl }}" />
        <div class="bottom-0 left-0  py-4">
            <div class="flex flex-row text-xs">
                <div class="post-category">
                    {{category}}
                </div>
                <div class="post-date">{{date}}</div>
            </div>
            <h3 class="text-xl font-medium mt-2">
                {{ title }}
            </h3>
        </div>
    </div>
</a>