<a [routerLink]="postLink">
    <div class="flex flex-row relative p-4">
        <img class="post-image w-1/3 min-w-1/3" src="{{imageUrl}}" />
        <h3 class="w-2/3 px-4 text-lg font-medium">
            {{ title }}
        </h3>
    </div>
</a>