<div class="flex flex-col content-center ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-96 w-96 mx-auto" fill="none" viewBox="0 0 24 24" stroke="gray">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="text-4xl font-bold text-center">
        Something went wrong! <br>Not found!
    </div>
</div>