<div class="gap-2 flex flex-row w-full h-full">
    <div class="w-1/3 h-2/3 bg-gray-300 rounded-2xl animate-pulse">
    </div>
    <div class="w-2/3 flex flex-col">
        <div class="h-1/4 w-full bg-gray-300 rounded-full animate-pulse">
        </div>
        <div class="h-1/4 mt-5 w-2/3 bg-gray-300 rounded-full animate-pulse">
        </div>
    </div>
</div>