.menu-header{
    @apply flex flex-col md:flex md:items-center justify-center text-black ;
    border-bottom: 1px;
    border-style: solid;
    border-color: #eee;
}
.header-item{
    @apply p-4;
    border-left-width: 1px;
    height: 100% !important;
    width: 100%;
}
.header-item-end{
  border-right-width: 1px;  
}
.header-item-red{
    border-bottom: 4px solid rgb(255, 55, 55);
    &:hover{
        color: red;
    }
}
.header-item-blue{
    border-bottom: 4px solid rgb(55, 125, 255);
    &:hover{
        color: blue;
    }
}

.header-item-purple{
    border-bottom: 4px solid #cf55ff;
    &:hover{
        color: purple;
    }
}
.error-message{
    @apply text-red-500 text-sm;
}