<header class="menu-header sticky top-0 bg-white z-50">
  <!-- Global navigation -->
  <nav>
    <div class="md:hidden flex flex-col">
      <div class="px-2 pt-2 pb-3 flex flex-row">
        <div class="w-2/3">
          <a class="px-4 text-2xl" routerLink="/">
            <span class="font-thin">
              Space
            </span>
            <span class="font-extrabold">
              NEWS
            </span>
          </a>
        </div>
        <button class="ml-auto" (click)="onMenuClick()">
          <svg *ngIf="!isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd" />
          </svg>
          <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="flex flex-col" *ngIf="isMenuOpen">
        <a class="header-item text-center hover:bg-gray-200" (click)="onMobileRouteClick()" routerLink="/">
          Home
        </a>
        <a class="header-item text-center hover:bg-gray-200" (click)="onMobileRouteClick()" routerLink="/search">
          Search
        </a>
        <a class="header-item text-center hover:bg-gray-200" (click)="onMobileRouteClick()"
          routerLink="/staticModules/join">
          Join us
        </a>
        <a class="header-item text-center hover:bg-gray-200" (click)="onMobileRouteClick()"
          routerLink="/staticModules/about">
          About
        </a>
      </div>
    </div>
    <ul class="list-reset md:flex md:items-center hidden">
      <li>
        <a class="px-4 text-2xl" routerLink="/">
          <span class="font-thin">
            Space
          </span>
          <span class="font-extrabold">
            NEWS
          </span>
        </a>
      </li>
      <li>
        <a class="header-item" routerLink="/">
          Home
        </a>
      </li>
      <li>
        <a class="header-item header-item-blue" routerLink="/search">
          Search
        </a>
      </li>
      <li>
        <a class="header-item header-item-red" routerLink="/staticModules/join">
          Join us
        </a>
      </li>
      <li>
        <a class="header-item header-item-end header-item-purple" routerLink="/staticModules/about">
          About
        </a>
      </li>
    </ul>
  </nav>
  <!-- END Global navigation -->
</header>
<div class=" min-h-screen">
  <router-outlet></router-outlet>
</div>
<footer class="bg-black p-11 text-white">
  <div class="container grid grid-cols-2 gap-5 grid-rows-2 mx-auto md:w-3/4">
    <div>
      <h1 class="text-2xl">
        About Us
      </h1>
      <p class="mt-4 font-light">
        This project is used as simple news propagator that uses an api to get news.
        If you want to contact us please use the follwoing form.
      </p>
    </div>
    <div>
      <h1 class="text-2xl">
        Links:
      </h1>
      <div class="grid grid-cols-2 mt-4 font-light">
        <div class="flex flex-col">
          <a href="#">
            GitHub
          </a>
        </div>
        <div class="flex flex-col">
          <a href="#">
            LinkedIn
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-rows-1 text-center">
    <h3 class=" text-2xl">
      Contact Info:
    </h3>
    <p class="mt-2">
      Alikhan Suleimen
    </p>
  </div>
</footer>