<div *ngIf="isLoading" class="grid grid-cols-3 gap-8 md:w-3/5 mx-auto px-2 md-px-0 mt-8">
    <div class="col-span-3 flex md:flex-row flex-col gap-5">
        <app-simple-card-loader class="md:w-1/2" *ngFor="let i of [].constructor(2)">
        </app-simple-card-loader>
    </div>

    <app-titled-card-loader class="md:col-span-1 sm:col-span-3 col-span-3" *ngFor="let i of [].constructor(6)">
    </app-titled-card-loader>
</div>

<div *ngIf="!isLoading" class="grid grid-cols-3 gap-8 md:w-3/5 sm:w-4/5 mx-auto px-2 md-px-0 mt-8">
    <div class="col-span-3 flex md:flex-row flex-col gap-5 ">
        <app-post-card class="md:w-1/2" *ngFor="let post of featuredPosts" [imageUrl]="post.urlToImage"
            [category]="post.source.name" [title]="post.title" [date]="post.publishedAt" [postSlug]="post.slug">
        </app-post-card>
    </div>
    <h1 class="text-3xl col-span-3 mb-3">
        Latest posts
    </h1>
    <app-post-card-titled *ngFor="let post of latestPosts" class="md:col-span-1 sm:col-span-3 col-span-3"
        [imageUrl]="post.urlToImage" [category]="post.source.name" [title]="post.title" [date]="post.publishedAt"
        [postSlug]="post.slug">
    </app-post-card-titled>

    <div class="col-span-3 grid grid-cols-3">
        <div class="md:col-span-2 col-span-3 grid grid-cols-2 grid-rows-3 gap-8">
            <app-post-card class="col-span-2 row-span-3" [imageUrl]="featuredPost.urlToImage"
                [date]="featuredPost.publishedAt" [title]="featuredPost.title" [postSlug]="featuredPost.slug">
            </app-post-card>

            <app-post-card-titled *ngFor="let post of otherPosts" class="md:col-span-1 col-span-2 row-span-1"
                [imageUrl]="post.urlToImage" [title]="post.title" [category]="post.source.name"
                [date]="post.publishedAt" [postSlug]="post.slug">
            </app-post-card-titled>

        </div>
        <div class="md:col-span-1 col-span-3">
            <div class="text-left text-2xl font-medium ml-4">
                Recommended reads
            </div>
            <app-post-card-minified *ngFor="let post of recommendedPosts" [imageUrl]="post.urlToImage"
                [title]="post.title" [category]="post.source.name" [date]="post.publishedAt" [postSlug]="post.slug">
            </app-post-card-minified>
        </div>
    </div>

    <h1 class="text-3xl col-span-3 my-3">
        Quick Reads
    </h1>
    <div class="col-span-3 flex flex-col">
        <app-quick-read *ngFor="let post of quickReads" [imageUrl]="post.urlToImage" [title]="post.title"
            [category]="post.source.name" [date]="post.publishedAt" [shortDescription]="post.description"
            [postSlug]="post.slug">
        </app-quick-read>
        <div class="text-center p-10">
            <a routerLink="search/" class="bg-gray-800 text-white p-4 mx-auto">Load more</a>
        </div>
    </div>
</div>