<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
        <input class="border-2 px-2 py-1" id="email" type="email" placeholder="email" formControlName="email"
            required />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
            <div *ngIf="email?.errors?.['required']">
                This is required.
            </div>
            <div *ngIf="email?.errors?.['minlength'] || email?.errors?.['email']">
                Email is invalid
            </div>
        </div>
        <input type="submit" value="Subscribe"
            class="hover:bg-gray-700 bg-black text-white font-bold py-1 px-10 mt-4 mx-auto" />

    </div>
</form>