<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex md:flex-row flex-col gap-4 my-4">
        <div class="flex flex-col md:w-1/2 w-full">
            <label class="font-thin" for="username">Username *</label>
            <input class="border-2" id="username" type="text" formControlName="username" required />
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-message">
                <div *ngIf="username?.errors?.['required']">
                    This is required.
                </div>
                <div *ngIf="username?.errors?.['minlength']">
                    Min length is 6
                </div>
            </div>
        </div>
        <div class="flex flex-col md:w-1/2 w-full">
            <label class="font-thin" for="email">Email *</label>
            <input class="border-2" id="email" type="email" formControlName="email" required />
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                <div *ngIf="email?.errors?.['required']">
                    This is required.
                </div>
                <div *ngIf="email?.errors?.['minlength'] || email?.errors?.['email']">
                    Email is invalid
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-fulll">
        <textarea placeholder="Comment" class="border-2 py-1 px-4 w-full" id="comment" formControlName="comment"
            type="text" required>
        </textarea>
        <div *ngIf="comment?.invalid && (comment?.dirty || comment?.touched)" class="error-message">
            <div *ngIf="comment?.errors?.['required']">
                This is required.
            </div>
            <div *ngIf="comment?.errors?.['minlength']">
                Min length is 10
            </div>
        </div>
    </div>

    <input type="submit" value="Submit" class="bg-black text-white font-bold py-1 px-10 mt-4 " />
</form>