<div class="md:w-1/3 px-4 mx-auto mt-16">
    <div class="flex flex-col">
        <div class="text-center">
            <div class="text-3xl">
                About this project
            </div>
            <p class="font-light mt-4">
                This project is used as simple news propagator that uses an api to get news.
                <br>If you want to contact us please use the follwoing form.
            </p>
        </div>
        <app-contact-form class="mt-8"></app-contact-form>
    </div>
</div>