@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.btn {
    @apply py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400
}

.header-item{
    @apply block no-underline py-2;
    &:hover {
        text-decoration: underline;
        // color:yellow;
    }
}

@keyframes pulse {
    0% {
      background-color: rgb(172, 172, 172);
    }
    50% {
      background-color: #cccccc;
    }
    100% {
      background-color: rgb(172, 172, 172);
    }
}

.post-image{
    @apply z-0 object-cover;
    filter: brightness(80%) saturate(120%);
    background-color: rgb(99, 99, 99);

    &:hover{
        filter: brightness(100%) saturate(100%);
    }
}
.post-category{
    @apply bg-purple-500 px-2 rounded-md border-0 uppercase text-white;
}
.post-date{
    @apply mx-2 my-auto font-light;
}