<a [routerLink]="postLink">
    <div class="flex flex-row relative my-4">
        <img class="post-image w-96 max-w-96 h-28" src="{{imageUrl}}" />
        <div class="flex flex-col px-4 w-full">
            <div class="flex flex-row gap-5">
                <div class="post-category">
                    {{category}}
                </div>
                <div class="post-date">
                    {{date}}
                </div>
            </div>
            <h3 class="text-lg font-medium ">
                {{ title }}
            </h3>
            <p class="mt-2">
                {{shortDescription}}
            </p>
        </div>
    </div>
</a>