<div class="md:w-2/3 mx-auto flex flex-col">
    <app-search-form [onSearch]="onSearch"></app-search-form>

    <div *ngIf="searchQuery!= ''">
        <div *ngIf="!isLoading && posts.length > 0">
            <div class="text-2xl font-bold my-10 px-2">
                Here are the top {{posts.length}} results
            </div>
        </div>
        <div *ngIf="!isLoading && posts.length ==0">
            <div class="text-2xl font-bold my-10 px-2">
                Your query has no results!
            </div>
        </div>
        <div class="grid grid-cols-4 gap-10 mt-10" *ngIf="!isLoading">
            <app-post-card-titled class="md:col-span-1 sm:col-span-4 col-span-4" *ngFor="let post of posts"
                [imageUrl]="post.urlToImage" [category]="post.source.name" [title]="post.title"
                [date]="post.publishedAt" [postSlug]="post.slug">
            </app-post-card-titled>
        </div>
        <div class="grid grid-cols-4 gap-10 mt-10" *ngIf="isLoading">
            <app-titled-card-loader class="md:col-span-1 sm:col-span-4 col-span-4"
                *ngFor="let item of [].constructor(8)"></app-titled-card-loader>
        </div>

    </div>
    <div *ngIf="searchQuery ==''" class="text-center mt-10">
        <div class="text-3xl text-gray-400 font-light">
            Try to search for something
        </div>
    </div>
</div>