<div *ngIf="isLoadingArticle">

</div>
<div *ngIf="!isLoadingArticle">
    <div class="relative w-full h-96 overflow-hidden">
        <img src="{{article.urlToImage}}" alt="Avatar" class="object-cover w-full h-full preview-image" />
        <div class="absolute w-2/3 mx-auto py-9 bottom-0 inset-x-0 text-white">
            <div class="flex flex-col ">
                <div class="flex flex-row gap-10">
                    <div class="post-category text-xl">
                        {{article.source.name}}
                    </div>
                    <div class="post-date text-xl">
                        {{article.publishedAt}}
                    </div>
                </div>
                <div class="text-4xl font-bold mt-4">
                    {{article.title}}
                </div>
            </div>
        </div>
    </div>

    <div class="md:w-2/3 w-full mx-auto mt-8 px-4">
        <div class="grid grid-cols-5">
            <div class="md:col-span-3 col-span-5">
                <div class="flex flex-row italic">
                    <a class="breadcrumb-element text-blue-500" routerLink="/">Home</a>
                    <span class="breadcrumb-element text-gray-400">/</span>
                    <span class="breadcrumb-element text-gray-600">{{article.title}}</span>
                </div>
                <div class="divide-y">
                    <p class="pt-10 pb-5">
                        {{article.description}}
                    </p>
                    <p class="py-5">
                        {{article.content}}
                    </p>
                </div>

                <div class="text-sm font-light">
                    Original source:<a class="px-2 text-blue-800 underline" href="{{article.url}}">{{article.url}}</a>
                </div>

                <div class="flex flex-row mt-20">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" viewBox="0 0 20 20" fill="grey">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                            clip-rule="evenodd" />
                    </svg>
                    <div class="flex flex-col w-full px-5 py-2">
                        <div class="text-xl font-bold">{{article.author}}</div>
                        <div class="text-base">{{article.source.name}}</div>
                    </div>
                </div>
            </div>
            <div class="md:col-span-2 col-span-5 px-4">
                <div class="text-2xl font-bold pl-4 mb-4">
                    Quick reads
                </div>

                <app-post-card-minified *ngFor="let post of quickReads" [imageUrl]="post.urlToImage"
                    [title]="post.title" [category]="post.source.name" [date]="post.publishedAt" [postSlug]="post.slug">
                </app-post-card-minified>
            </div>
        </div>

        <div class="flex flex-col my-10 md:w-3/5 w-full">
            <div class="text-3xl font-bold my-4">
                {{comments.length}} Comments
            </div>

            <app-post-comment class="my-8" *ngFor="let comment of comments" [date]="comment.creationDate"
                [username]="comment.username" [comment]="comment.comment" [commentId]="comment.id"></app-post-comment>


            <div class="text-3xl font-bold mt-4">
                Leave a reply:
            </div>
            <p class="text-sm font-light my-4 text-gray-500">your email address will not be published. required fields
                are marked *
            </p>
            <app-add-comment [onCommentCreated]="onCommentCreated"></app-add-comment>

        </div>
    </div>

</div>