@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.preview-image{
    width: 100%;
    height: 450px;
    object-fit: cover;

    filter: brightness(60%) saturate(120%);
}

.breadcrumb-element{
    @apply px-1;   
}