<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-row mt-10 md:w-2/3 w-full mx-auto">
        <div class="flex flex-col w-4/5 ml-10">
            <input required type="text" id="query" formControlName="query"
                class="border-2 w-full py-1 px-4 rounded-full" placeholder="Search..." />
            <div *ngIf="query?.invalid && (query?.dirty || query?.touched)" class="text-red-500 text-sm px-4">
                <div *ngIf="query?.errors?.['required']">
                    This is required.
                </div>
                <div *ngIf="query?.errors?.['minlength']">
                    Min length is 6
                </div>
            </div>
        </div>
        <button class="mx-4 hover:bg-gray-200 px-4 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>
    </div>
</form>