<div class="md:w-2/3 px-4 mx-auto mt-16">
    <div class="flex flex-col">
        <div class="text-3xl text-center italic">
            Join our newsletter for free!
        </div>
        <p class="font-thin text-center">
            Get exclusive news right when you need them.
        </p>

        <app-subscribe-to-news-form class="mx-auto md:w-1/4 w-1/2 mt-10"></app-subscribe-to-news-form>
    </div>
</div>